# Dependencies
/node_modules
/.pnp
.pnp.js

# Production
/build
/.next/
/out/

# Environment variables
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Database
/prisma/migrations/